*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #5E5847; /* Blue color for table header */
    color: white;
}
