body{
    background-color: #e2d5c6;
}

.title{

    position: relative;
    margin-top: 190px;
    text-align: center;
}

p{
    text-align: justify;
}

a{
    color: black;
}


.pic
{
    background-image: url("img/smish.jpg");
    background-size: 100% 200px;
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 100%;
    padding-top: 20px;
    
}
